{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}
{% comment %} <div class="container text-center">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <legend class="border-bottom mb-4"></legend>
            {{form|crispy}}
            <button href="" class="btn btn-outline-info" type="submit">
                Select
            </button>
        </div>
        {% if input %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            <div class="row">
                <div class="col-md-4">
                    {{m_form.input|as_crispy_field}}
                </div>
                <div class="col-md-4">
                    {{m_form.measure1|as_crispy_field}}
                </div>
                <div class="col-md-4">
                    {{m_form.measure2|as_crispy_field}}
                </div>
            </div>

        </fieldset>
        <fieldset class="form-group">
            {{answer}}
        </fieldset>
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Convert
            </button>
        </div>
        {% endif %}
    </form>
</div>  {% endcomment %}


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="menu-content pb-60 col-lg-8">
            <div class="title text-center">
                <h1 class="mb-10">Calculater</h1>
            </div>
        </div>
    </div>
    <dir class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <label>Enter First Number</label>
                <input type="text" name="num1" class="form-control"/>
                <label>Select Operator</label>
                <select name="opr" class="form-control">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select>
                <label>Enter Second Number</label>
                <input type="text" name="num2" class="form-control"/>
                <input class="btn btn-danger" type="submit" value="Submit"><br><br>
                <label>Output</label>
                <input type="text" value="{{ans}}" class="form-control"/>
            </form>
        </div>
    </dir>
</div>


{% endblock content %}